build
node_modules
.gradle
.vscode
.idea
.DS_Store
*.esm.json
*.js
*.js.map
*.log
plugin/src/*.d.ts
!plugin/src/index.d.ts
!plugin/src/references.d.ts
!plugin/src/scripts/*.js
!plugin/seed-tests/*.js
plugin/seed-tests/seed-copy
plugin/seed-tests/seed-copy-new-git-repo/**/*.*
!plugin/demo/karma.conf.js
!plugin/demo/app/tests/*.js
plugin/demo/*.d.ts
!plugin/demo/references.d.ts
plugin/demo/lib
plugin/demo/platforms
plugin/src/platforms
plugin/publish/src
plugin/publish/package
plugin/demo/report/report.html
plugin/demo/report/stats.json
!plugin/demo-vue/app/app.js